body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffb400, #ff6a00);
  margin: 0;
  color: #333;
}

.hero {
  min-height: 90vh;
  background: white;
  border-radius: 0 0 80px 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin: 40px;
  padding: 40px 0;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(135deg, #ffb400, #ff6a00);
  z-index: -1;
  border-radius: 0 0 80px 0;
}

.hero h1 {
  color: #000;
}

.hero .btn-warning {
  background-color: #ff6a00;
  border: none;
}

.hero .btn-warning:hover {
  background-color: #ff8c1a;
}

.hero-img {
  max-width: 100%;
  transform: rotate(-10deg);
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
}


